#header {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#page {
    width: 90px;
}

/*======== modal form ========*/
.modal-card {
    margin-top: 15px;
    margin-bottom: 15px;
}
#weeks, #hours {
    width: 60px;
}
#delete-content {
    display: none;
}

/*======== add-btn position ========*/
.column:nth-child(2) {
    position: relative;
}
#btn-add-content {
    position: absolute;
    right: 15px;
}

/*======== table ========*/
.table th {
    vertical-align: bottom;
}


th:nth-child(-n+2) {
    width: 40px;
    min-width: 40px;
}

th:nth-child(2n+3) {
    width: 240px;
    min-width: 240px;
}

th:nth-child(2n+4) {
    width: 160px;
    min-width: 160px;
}

th:nth-child(7) {
    width: 30px;
    min-width: 30px;
}

td {
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    /*======== add-btn position ========*/
    .column:nth-child(2) {
        position: static;
    }
    #btn-add-content {
        position: static;
        right: 0;
    }
}

