#header {
	margin-bottom: 15px;
}

.column form {
	width: 90%;
}

#search {
	width: 100%;
}

#btnfilter {
	height: 100%;
}

#btnfilter .icon {
	margin: auto;
	height: 100%;
}

#filter {
	padding-bottom: 10px;
	display: none;
}

#view {
	margin-left: 20px;
	padding-top: 7px;
}

#filter .label {
	margin-right: 10px;
	padding-top: 7px;
}

.db-content .box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.db-content .subtitle {
	flex-grow: 1;
}

.ribbon.cas {
	background-color: #55DD33;
	color: white;
}

.ribbon.cba {
	background-color: #cFc702;
	color: white;
}

.ribbon.ccss {
	background-color: #48c774;
	color: white;
}

.ribbon.cdent {
	background-color: #DF73FF;
	color: white;
}

.ribbon.ceduc {
	background-color: #6CB4EE;
	color: white;
}

.ribbon.ceng {
	background-color: #FF9F00;
	color: white;
}

.ribbon.cfa {
	background-color: #CD853F;
	color: white;
}

.ribbon.claw {
	background-color: #DA70D6;
	color: white;
}

/* Desktop Viewport*/
@media screen and (max-width: 1215px) and (min-width: 1024px) {
	form {
		width: 85%;
	}
}

/* Mobile to Tablet Viewport */
@media screen and (max-width: 1023px) {
	form {
		width: 77%;
	}
}