html {
	max-width: 100vw;
	max-height: 100vh;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
}

#content {
	margin: 70px 20px 20px;
}

#body {
	z-index: 2;
	max-width: 100%;
}

@media screen and (max-width: 768px) {
	#content {
		margin-left: 0;
		margin-right: 0;
	}
}

/* Navbar */
.navbar {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

#logo {
	margin-left: 10px;
	height: 45px;
}

.breadcrumb ul, .breadcrumb li {
	height: 100%;
}

#user {
	position: fixed;
	padding: 10px 0;
	right: 0;
}

#user figure {
	margin-right: 10px;
}

#mobile figure {
	margin-right: 5px;
}

#avatar {
	margin-left: 10px;
}

#avatar img, #user img, #mobile img {
	object-fit: cover;
	max-height: 100%;
	height: 100%;
}

#mobile {
	overflow-y: hidden;
	overflow-x: hidden;
}

.navbar-menu button .icon:first-child:last-child {
	margin-right: 5px;
}

.navbar-dropdown button.text-left {
	justify-content: flex-start;
}

/* Sidebar */
#sidebar {
	height: 100vh;
	position: sticky;
	top: 0;
	bottom: 0;
	padding-bottom: 0;
	padding-left: 5px;
	padding-right: 0;
	z-index: 1;
}

aside {
	padding-top: 70px;
	padding-left: 10px;
}

.menu-list .is-active {
	width: 105%;
}

#admin {
	padding-top: 20px;
}

.navbar-item .icon:only-child, .menu .icon {
	margin-right: 5px;
}

#sb-back {
	margin-bottom: 20px;
}
