html {
	background: #3273dc;
	max-width: 100vw;
	max-height: 100vh;
}

body {
	height: 100%;
}

#layout {
	margin: 0;
}

#sidebar {
	height: 100vh;
	position: sticky;
	top: 0;
	bottom: 0;
	padding-bottom: 0;
	padding-left: 5px;
	padding-right: 0;
	z-index: -1;
}

aside {
	padding-top: 75px;
	padding-left: 10px;
}

.menu-list a {
	padding-right: 0;
}

.menu-list .is-active {
	width: 130%;
}

#admin {
	padding-top: 20px;
}

.icon {
	margin-right: 5px;
}

.box {
	margin-top: 85px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}