section {
    background-color: #bdc3c7;
    font-family: Arial;
}

.box {
    width: 320px;
    border-radius: 0;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    padding-bottom: 30px;
    letter-spacing: 0.075em;
}

.button {
    width: 200px;
    background-color: #7f8c8d;
    margin-top: 25px;
    border-radius: 2px;
    font-weight: 550;
}

.button:hover {
    background-color: #bdc3c7;
    border-color: black;
    border-width: 1.5px;
}

