.columns {
    height: 100%;
}

.box {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#pass-controls {
    width: 100%;
}

#login {
    width: 100%;
    margin-top: 15px;
}
