.settings-icon {
	padding-right: 0px;
}

.settings-hr {
	  border: 1px solid #80808026;
	  border-radius: 2px;
	  margin: 0.5rem 0 1rem;
}

.settings-container {
	margin-bottom: 1.5rem;
}

.switch-m-top {
	margin-top: 0.75rem;
}

{{-- adjusts the value of .switch-m-top for mobile viewport --}}
@media (max-width: 768px) {
	.switch-m-top {
		margin-top: 0.4rem;
	}
}